### Installing Python Packages from a Jupyter Notebook

 !pip install **packageName** <br>
 !conda install **packageName**

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\e0xmomen\appdata\local\programs\python\python312\lib\site-packages (2.1.2)

### pip vs conda

* pip installs python packages in any environment.
* conda installs any package in conda environments.

### Hello World: Creat your First Python Program

In [10]:
print("Welcome to first lecture")
print('It is a great course')

Welcome to first lecture
It is a great course

In [11]:
## print numbers
print(10)
print(3.4)   # floating point number

10
3.4

## Creating variables and assigning values
A variable is a name that refers to a value.

__To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.
<variable name> = <value>__

In [6]:
# integer
number=10

# float
number2=10.5
number3=0.5

# string
strVar='Maha'

# boolean
passing=False
flag2=True

# Empty value or null data type
none_var=None   # null

In [7]:
name="Norah"
age=26
flag=False
number=5.5

print(type(age))
print(type(name))
print(type(flag))
print(type(number))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [8]:
print("hello", "world", "lamma")
print("hello world lamma")

hello world lamma
hello world lamma

In [9]:
name="Norah"
age=26
print('Your name is',name,'and my age is ',age, 'years old')

Your name is Norah and my age is  26 years old

In [ ]:
name='Fahad'
age=3
# My child name is Fahad and his age is 3 years
###  code there
print('My child name is {} and his age is {} years'.format(name,age))

My child name is Fahad and his age is 3 years

In [ ]:
num1=10  #10
num2=float(num1)  #10.0

print(type(num1))
print(type(num2))

print(num1)
print(num2)

<class 'int'>
<class 'float'>
10
10.0

In [ ]:
## percentage
value= 95
print("{:%}".format(value/100))

95.000000%

### Testing the type of variables

- ##### In python, we can check the datatype of an object using the built-in function type.

In [ ]:
pi=3.14
print(type(pi))

<class 'float'>

### Asking the user for input
Sometimes we would like to take the value for a variable from the user via their keyboard. Python provides a built-in function called __input__ that gets input from the keyboard

In [ ]:
no_of_childen=input("Enter number ")

Enter number 20

In [ ]:
kids=input('How many kids do you have:')

print(kids)

How many kids do you have:20
20

In [ ]:
print(no_of_childen)

20

In [ ]:
## Split a string into a list where each word is a list item:
txt = "welcome to the CSC605"
txt1=txt.split()
print(txt1)

['welcome', 'to', 'the', 'CSC605']

In [ ]:
txt = "welcome; to; the CSC605"

x = txt.split(';')

print(x)

['welcome', ' to', ' the CSC605']

In [ ]:
a=input()
a=int(a)

20

In [ ]:
print(a)
type(a)

20

int

In [ ]:
x=12.9
type(x)
print(int(x))

y=12
y=str(y)
print(type(y))

12
<class 'str'>

In [ ]:
print(int(a)+5)

25

### Functions
- A function is a block of code which only runs when it is called.
- Variables that are defined inside a function body have a local scope, and those defined outside have a global scope.

In [ ]:
### Examples
def fun_name():
    print('first function')
    print("hello world")

In [ ]:
fun_name()

first function
hello world

In [ ]:
def fun2():
    cc=10
    print(cc+30)

fun2()

40

In [ ]:
def addTwoNumbers(a,b):
    return a+b

print(addTwoNumbers(20,2) )

res=addTwoNumbers(34,445)
print(res)
## return two outputs

22
479

In [ ]:
def add_and_substract_and_multiply(a,b):

    return a+b, a-b , a*b  #(1100, 900)

In [ ]:
a1 =add_and_substract_and_multiply(1000,100)   #a1=(1100,900)
print(a1)

print(a1[0])
print(a1[1])
print(a1[2])

(1100, 900, 100000)
1100
900
100000

In [ ]:
a1, a2 , a3 =add_and_substract_and_multiply(1000,100)   #a1=(1100,900)
print(a1, "   ",a2, "  " , a3)

1100     900    100000

### dummy variables

In [ ]:
_, b1 , _=add_and_substract_and_multiply(1000,100)
print(b1)

900

#### ### Default arguments
A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument.

In [ ]:
## Examples
def compute_tax(money, tax_rate=.15):
    return money * tax_rate

print(compute_tax(1000))
print(compute_tax(10000, .2))

150.0
2000.0

In [ ]:
def fun(salary=10000, expenses=5000, homeRent=1500):
    total=salary-homeRent-expenses
    print(total)

In [ ]:
fun(10000)

3500

In [ ]:
a10=20
a11=30
a12=40

a10,a11,a12=20,30,40

In [ ]:
a, b, c = 1, 2, 3

## dummy variable can have any name, but it is conventional to use the underscore (_) for assigning unwanted values:

a, b, _ = 1, 2, 3

In [ ]:
print(_)

3

### Operators <br>
- <font size="4">Arithmetic is very similar to Java and C#</font>

<font size="4">
- Addition +<br>
- Subtraction -<br>
- Division /<br>
- Exponentiation **<br>
- Modulus (remainder after division) %<br></font>

In [ ]:
## examples
n1=12.
n2=4.
print(n1+n2)
print(n1/n2)
print(n1*n2)
print(2**4)

16.0
3.0
48.0
16

In [ ]:
100%5==0

True

In [ ]:
print(9%7) #2

2

In [ ]:
print(7%9) # 0/9=0

7

In [ ]:
print(3 ** 2)

9

### Comparison operators <br>
<font size="4">
- Equal: ==<br>
- Not equal: != <br>
- Greater than: > <br>
- Less than: <<br>
- Greater than or equal: >= <br>
- Less than or equal: <=<br>
    </font>

In [ ]:
a=3
a=a+1
print(a)

4

In [ ]:
a +=1 # a=a+1
print(a)

5

In [ ]:
c=100
for i in range(c):
    if i % 5==0:
        print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

### Python comments

- Comments can be used to explain Python code.

- Comments can be used to make the code more readable.

- Comments can be used to prevent execution when testing code.

##### Comments starts with a #, and Python will ignore them:

In [ ]:
# short comment
'''
this seleciton is to explain the comments
this is done by ...
'''
def add(a,b):
    pass

def ABC(a,b):
    return a+b

In [ ]:
# single line
# this is comment
"""
this comments are multiple
lines
"""


"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### Indentation (whitespace at the beginning of a line)
- <font size="3.5">Python uses indentation to indicate blocks, instead of {}</font>
    - Makes the code simpler and more readable<br>
    - In Java and C#, indenting is optional.  In Python, you must indent

In [ ]:
a =10
b=20

def test():
    print('test')
    c=30

d=10

### Conditional statements

In order to write useful programs, we almost always need the ability to check conditions and change the behavior of the program accordingly. Conditional statements give us this ability. The simplest form is the if statement, which has the genaral form:

In [ ]:
#Examples
grade=55

if grade>=70:
    print("pass")
else:
    print('fail')

if 90<=grade<=100:
    print('A')
elif grade<90 and grade>=80:
    print("B")
elif  70<=grade<80:
    print("C")
elif 0<=grade<70:
    print("Fail")
else:
    print("Invalid grade")

fail
Fail

#### Note:
__In conditional statements it is possible to test the datatype with isinstance. However, it is usually not encouraged to rely on the type of the variable.__

In [ ]:
grade=80.5
if isinstance(grade, int):
    if 90<=grade<=100:
        print('A')
    elif grade<90 and grade>=80:
        print("B")
    elif  70<=grade<80:
        print("C")
    elif 0<=grade<70:
        print("Fail")
    else:
        print("Invalid grade")
else:
        print("Incorrect input")

Incorrect input

In [ ]:
a=False

if a:
    print('A')
else:
    print('B')

B

### and - or operators

In [ ]:
salary=10000

expericence=1

if salary>=8000 and expericence>5:
    print("Congs you derserve loan")
else:
    print('Sorry you cannot take loan')

Sorry you cannot take loan

In [ ]:
a=20
if 5<a<10:
  print("A")

In [ ]:
if salary>=8000 or expericence>5:
    print("Congs you derserve loan")
else:
    print('Sorry you cannot take loan')

Congs you derserve loan

#### The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
def fun1():
  pass

fun1()

### Lists

- #### The list type is probably the most commonly used collection type in Python. Despite its name, a list is more like an array in other languages, mostly JavaScript. In Python, a list is merely an ordered collection of valid Python values. A list can be created by enclosing values, separated by commas, in square brackets:

- #####  The elements of a list are not restricted to a single data type, which makes sense given that Python is a dynamic language:

In [ ]:
# define empty list
# method 1
lst1=[]
#method2
lst2=list()

# create list with values 1, 5, 20, 4,and 1
lst3=[1,5,20,4,1]
print(lst3)

# add 100 to lst3
lst3.append(100)
print(lst3)


# list with mixed data types
lst4=[1, 2.4, False, 'Saudi Arabia']
print(lst4)

lst3.append(150)
print(lst3)

[1, 5, 20, 4, 1]
[1, 5, 20, 4, 1, 100]
[1, 2.4, False, 'Saudi Arabia']
[1, 5, 20, 4, 1, 100, 150]

In [ ]:
lst=[3,5,7,9,11,13,20 ]

#get length of list
lst_len=len(lst)
print(lst_len)


# print to first element
print(lst[0])
print(lst[1])
# print last element
print(lst[len(lst)-1])   # size 5

# method 2:
print(lst[-1])

## print next to last
print(lst[-2])

print(lst[0], lst[-1])

7
3
5
20
20
13
3 20

In [ ]:
lst=[3,5,7,9,11,13,20 ]

# print first 4 elements
print(lst[:4])

##print(lst[start:stop:step])
print(lst[:4:3])

[3, 5, 7, 9]
[3, 9]

In [ ]:
lst=[3,5,7,9,11,13,20 ]
print(lst[::-1]) ## for (i=n;i>=0, i--)

[20, 13, 11, 9, 7, 5, 3]

In [ ]:
print(lst[2::1])

print(lst[::2])
## 3, 7, 11, 20
print(lst[:4])

print(lst[0:-2:])  #  0 to -3
print(lst[::-1]) ## for (i=n;i>=0, i--)

[7, 9, 11, 13, 20]
[3, 7, 11, 20]
[3, 5, 7, 9]
[3, 5, 7, 9, 11]
[20, 13, 11, 9, 7, 5, 3]

In [ ]:
## sort list
lst5=[3,10,0,-20]
lst5.sort()
print(lst5)

# Example list
my_list = [1, 2, 3, 4, 5]

# Reversing the list in place
my_list.reverse()

# Printing the reversed list
print(my_list)

# 2: Reverse Using Slicing
reversed_lst=my_list[::-1]
print(reversed_lst)


# 3: reverse using reversed

studentNames = ["Hannah", "Imogen", "Lewis", "Peter"]
for i in reversed(studentNames):
	print(i)

[-20, 0, 3, 10]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
Peter
Lewis
Imogen
Hannah

In [ ]:
list_temp=[5,3,30,90,20]
# Add a new element to list at a specific index. L.insert(index, object)
list_temp.insert(2,'Maha')
print(list_temp)


# Remove the first occurrence of a value with L.remove(value)
lst6=[1,2,7,5,2]
lst6.remove(2)
print(lst6)

[5, 3, 'Maha', 30, 90, 20]
[1, 7, 5, 2]

In [ ]:
# Get the index in the list of the first item whose value is x. It will show an error if there is no such item.
##ind=list_temp.index(30)
lst7=[1,2,3,4,4,90,1,4]
print(lst7.index(90))
lst7.index(3)

5

2

In [ ]:
##count occurrence of any item in list
print(lst7.count(4))

# Example list
my_list = [1, 2, 3, 2, 4, 2, 5]

# Removing all occurrences of 2
my_list = [x for x in my_list if x != 2]

# Printing the updated list
print(my_list)

3
[1, 3, 4, 5]

### exercise:
-_Write a code that counts the occurrance of each element in list b__

In [ ]:
lst = [1, 2, 45, 55, 5, 4, 4, 4, 4, 4, 4, 5456, 56, 6, 7, 67]

### list of list -- Nested list

In [ ]:
lst=[[1,2],
     [10,20,22],
     [100,200]]

print(lst)

[[1, 2], [10, 20, 22], [100, 200]]

In [ ]:
print(lst[1])
## print 2
print(lst[0][1])

## print 100
print(lst[2][0])
print(lst[-1][0])

[10, 20, 22]
2
100
100
200

In [ ]:
lst1=[13,[1000,2000,30000], 'A']
## print 200
print(lst1[-1][0])

A

In [ ]:
print(lst1)

[13, [1000, 2000, 30000], 'A']

### Loops

- Loops are used to execute a set of statements repeatedly until a particular condition is satisfied.
- Loops (repeated steps) have iteration variables that change each time through a loop.  
- Often these iteration variables go through a sequence of numbers.
<br><br>
- There are __two__ types of loops in Python, __for__ and __while__.
<br><br>
- __break__ is used to exit a for loop or a while loop,
- __continue__ is used to skip the current block, and return to the "for" or "while" statement.

In [ ]:
# Prints out the numbers 0,1,2,3,4 using loop
lst=['A', 2, 10, True]

for i in range(10):
    print(i, end=" ")
print('--------\n')

for i in range(20):
    print(i, end=" ")
# print the numbers from 0 to 8
# default value start=0
# default value step=1

print("\n")

for x in range(5):
    print(x, end=" ")

print("\n")

# Prints out 3,4,5
for x in range(3, 6):
    print(x, end=" ")

print("\n")

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9 --------

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

0 1 2 3 4

3 4 5

3 5 7

In [ ]:
primes = [2, 3, 5, 7,5,10]
# method 1
for i in range(len(primes)):
    print(primes[i])

print('-----')
## foreach
for p in primes:
    print(p)

###
ind=0
for p in primes:
    print('item ',ind,p)
    ind=ind+1
###
print('-------------------------------')
for ind, p in enumerate(primes, start=100):
    print('item ',ind,p)

2
3
5
7
5
10
-----
2
3
5
7
5
10
item  0 2
item  1 3
item  2 5
item  3 7
item  4 5
item  5 10
-------------------------------
item  100 2
item  101 3
item  102 5
item  103 7
item  104 5
item  105 10

In [ ]:
names = ["Ahmad", "Mohammad", "Sami", "Mona", "Norah", "Fahad", "Majed"]
for i in range(0, len(names), 1):
    print(names[i])

for name in names:
    print(name)

Ahmad
Mohammad
Sami
Mona
Norah
Fahad
Majed
Ahmad
Mohammad
Sami
Mona
Norah
Fahad
Majed

### Write a code to print the occurance of each item in the blist

In [ ]:
blist = [1, 1, 1, 2, 3, 4,3]
for n in blist:
    print(' occurance of item:',n,'is :', blist.count(n))

 occurance of item: 1 is : 3
 occurance of item: 1 is : 3
 occurance of item: 1 is : 3
 occurance of item: 2 is : 1
 occurance of item: 3 is : 2
 occurance of item: 4 is : 1
 occurance of item: 3 is : 2

## in - not in keywords

In [ ]:
clist=[1,4, 5, 10]
## check if the element 1 and 0 is exist in clist
res=1000 in clist
print(res)

False

In [ ]:
res1= 5 not in clist
print(res1)

False

### What is the drawback of the code above?

In [ ]:
def print_occruance(lst):
    lst1=[]
    for e in lst:
        isExist= e in lst1
        if isExist==False:
            print('occurance of element:',e,lst.count(e))
            lst1.append(e)

print_occruance([1,1,3,4,4,5,5,1,10,1])

occurance of element: 1 4
occurance of element: 3 1
occurance of element: 4 2
occurance of element: 5 2
occurance of element: 10 1

### zip funciton

- Join two list or tuples together:

In [ ]:
# Example lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Zipping the lists

print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:

zipped_list = list(zip(list1, list2))

# Printing the zipped list
print(zipped_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# Unzipping the list
unzipped_list1, unzipped_list2 = zip(*zipped_list)

# Converting tuples back to lists
unzipped_list1 = list(unzipped_list1)
unzipped_list2 = list(unzipped_list2)

# Printing the unzipped lists
print(unzipped_list1)
print(unzipped_list2)

[1, 2, 3]
['a', 'b', 'c']

In [ ]:
lst1=[1,2,3,4]
lst2=['A', 'B', 'C', 'D']
lst3=[[1,2],[3,4],[5,6],[3,14]]
zipped=zip(lst1,lst2,lst3)
for row in zipped:
    print(row)

(1, 'A', [1, 2])
(2, 'B', [3, 4])
(3, 'C', [5, 6])
(4, 'D', [3, 14])

In [ ]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]
zipped=zip(coordinate, value)
## convert to list
l=list(zipped)
## print zipped
print(l)

[('x', 3), ('y', 4), ('z', 5)]

In [ ]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]
zipped=zip(coordinate, value)
c, v=zip(*zipped)
print(c)
print(v)

('x', 'y', 'z')
(3, 4, 5)

### zip- Iterate over two lists in parallel

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

aa=[3,5,8]
bb=[10,20,30]
### method 1
for i in range(len(aa)):
    print(aa[i]*bb[i])

print('---------------')
## method 2

for a, b in zip(aa,bb):
    print(a*b)

print('---------------')
for ind, (a, b) in enumerate(zip(aa,bb),start=1):
    print('index:',ind, a*b)

30
100
240
---------------
30
100
240
---------------
index: 1 30
index: 2 100
index: 3 240

### What if we need indexes?

- Python’s built-in __enumerate__ function allows us to loop over a list and retrieve both the index and the value of each item in the list:

In [ ]:

names = ["Ahmad", "Mohammad", "Sami", "Mona", "Norah", "Fahad", "Majed"]
print(names)
i=1
for name in names:
    print('student:',i,':', name.upper())
    i+=1

print()

for ind, name in enumerate(names, start=1):
    print('student:',ind,':', name)

['Ahmad', 'Mohammad', 'Sami', 'Mona', 'Norah', 'Fahad', 'Majed']
student: 1 : AHMAD
student: 2 : MOHAMMAD
student: 3 : SAMI
student: 4 : MONA
student: 5 : NORAH
student: 6 : FAHAD
student: 7 : MAJED

student: 1 : Ahmad
student: 2 : Mohammad
student: 3 : Sami
student: 4 : Mona
student: 5 : Norah
student: 6 : Fahad
student: 7 : Majed

####  A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.

In [ ]:
count = 0
while (count <= 9):
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9

In [ ]:
i=2
while i<10:
    print(i)
    if i==5:
        break
    i=i+1

2
3
4
5

In [ ]:
i=2
while i<10:
    i=i+1
    if i==5:
        continue
    print(i)

3
4
6
7
8
9
10

In [ ]:
j=15
while j:
    print(j)
    if j==10:
        break
    j=j-1

15
14
13
12
11
10

### sets
<font size="4">
- A set is an unordered collection of items. Every set element is unique (no duplicates)

- In Python, sets are written with curly brackets.
</font>

In [ ]:
lst=[1,2,1,2,3]

In [ ]:
##empty list
lst100=[]
lst101=list()

##empty set
setB=set()
print(type(setB))

# create a set consists of 12,45,55
setA= {3,2,1}
print(type(setA))

# add new element 100 to the set
setA.add(5)
setA.add(4)
print(setA)

<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
##convert from set to list
set200={1,2,3,4}
lst200=list(set200)
print(lst200)

set300={1,2,3,4}
lst300=[set300, 1, "a"]

print(lst300)
print(lst300[0])

[1, 2, 3, 4]
[{1, 2, 3, 4}, 1, 'a']
{1, 2, 3, 4}

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}


# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

## add 10 to set
my_set.add(10)
print(my_set)

# discard an element
my_set.discard(3)
print(my_set)
my_set.discard(200)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6, 10}
{1, 4, 5, 6, 10}
{1, 4, 5, 6, 10}

In [ ]:
# remove an element
my_set.remove(6)
print(my_set)

my_set.remove(600)
print(my_set)

{1, 4, 5, 10}

KeyError: 600

## what is the difference between remove and discard?

The remove() method raises an error when the specified element doesn't exist in the given set, however the discard() method doesn't raise any error if the specified element is not present in the set and the set remains unchanged

In [ ]:
aaa=[12,4,5,True]
aaa=None
##print(aaa)
print(aaa)
del aaa   #### The del keyword is used to delete objects.
print(aaa)

None

NameError: name 'aaa' is not defined

#### Difference Between Python del vs Assigning to None
The difference is that x = None will free whatever it referenced but keep the name around even though it's just referencing None (which is a type, NoneType). On the other hand, del x will completely remove both the name and what it referenced.

### Python Set Operations

In [ ]:
aa={1,3,4,7}
bb={1,4,7,10,11}

## intersection
print(aa & bb)

##uniion

c=aa | bb
c.add(1)

print(c)
print(aa | bb)

{1, 4, 7}
{1, 3, 4, 7, 10, 11}
{1, 3, 4, 7, 10, 11}

### dictionary
##### In Python, a dictionary is an unordered collection of items, with each item consisting of a key: value pair (separated by a colon).

In [ ]:
# empty dictionary
myDict = dict()
myDict1={}

info={'Saleh':40, 'NorAH':24}

#### Distinguish set and dictionary while creating empty set

a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog', 'weight':20}

a_dict['dimeter']=1.3 #Add

a_dict['dimeter']=20  #update
print(a_dict)
print(a_dict['color'])

a_dict[10]=200
print(a_dict)
# iterating through iterms

for key, value in a_dict.items():
    print(key,':', value)
print('--------------')

for k, v in a_dict.items():
    print(k,v)

print(a_dict.keys())
print(a_dict.values())

{'color': 'blue', 'fruit': 'apple', 'pet': 'dog', 'weight': 20, 'dimeter': 20}
blue
{'color': 'blue', 'fruit': 'apple', 'pet': 'dog', 'weight': 20, 'dimeter': 20, 10: 200}
color : blue
fruit : apple
pet : dog
weight : 20
dimeter : 20
10 : 200
--------------
color blue
fruit apple
pet dog
weight 20
dimeter 20
10 200
dict_keys(['color', 'fruit', 'pet', 'weight', 'dimeter', 10])
dict_values(['blue', 'apple', 'dog', 20, 20, 200])

### tuple
- A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
print(my_tuple)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
print(my_tuple[0])

p

In [ ]:
my_tuple[0]='k'

TypeError: 'tuple' object does not support item assignment

### Q) How to change the value in tuple?

In [ ]:
my_lst10=list(my_tuple)

my_lst10[0]='K'
print(my_lst10)

my_tuple1=tuple(my_lst10)
my_tuple1

['K', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

('K', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

### Importing Modules and packages

<font size="4">
    
- Module is a file consisting of Python code. Module can define functions , classes and variables.
- To make use of the functions in a module, you’ll need to import the module with an import statement.
    <font size="3">AAAAAA</font>

In [ ]:
# method 1
import math
import numpy

print(math.sin(90))
print(math.pi)
print(numpy.zeros(5))

# methed 2
import numpy as np
import pandas as pd

pd.DataFrame()
print(np.add(10,20))

# method 3
from math import log10, pi, sin, ceil, floor
print(log10(1000))
from math import sin,pi , ceil
sin(90)
#method 4
from math import *
acos

0.8939966636005579
3.141592653589793
[0. 0. 0. 0. 0.]
30
3.0

In [1]:
import math

# Angle in degrees
angle_in_degrees = 90

# Convert degrees to radians
angle_in_radians = math.radians(angle_in_degrees)

# Calculate the sine of the angle
sin_value = math.sin(angle_in_radians)

# Print the result
print(sin_value)

1.0

In [ ]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### random module
- random.random(): Generates a random float number between 0.0 to 1.0. The function doesn't need any arguments.
- random.randint(): Returns a random integer between the specified integers.
- random.shuffle(): This functions randomly reorders the elements in a list.
- random.choice():  Returns a randomly selected element from a non-empty sequence. An empty sequence as argument raises an IndexError.
- random.sample returns a list with a randomly selection of a specified number of items from a sequnce.
- random.randrange(): Returns a randomly selected element from the range created by the start, stop and step arguments. The value of start is 0 by default. Similarly, the value of step is 1 by default.

In [5]:
import random

# Generate a random float number between 0.0 and 1.0
random_float = random.random()
print("Random float:", random_float)

Random float: 0.447316196826017

In [9]:
import random

# Generate a random integer between 1 and 10
random_int = random.randint(1, 10)
print("Random integer:", random_int)

Random integer: 8

In [11]:
import random

# Example list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [1, 3, 5, 2, 4]

In [12]:
import random

# Example list
my_list = ['apple', 'banana', 'cherry', 'date']

# Select a random element from the list
random_element = random.choice(my_list)
print("Random choice:", random_element)

Random choice: apple

In [ ]:
import random

# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Select 3 random elements from the list
random_sample = random.sample(my_list, 3)
print("Random sample:", random_sample)

Random sample: ['banana', 'cherry', 'date']

In [19]:
import random

# Generate a random element from the range 0 to 9 (inclusive)
random_range = random.randrange(10)
print("Random range element:", random_range)

# Generate a random element from the range 1 to 10 (inclusive)
random_range_with_start = random.randrange(1, 11)
print("Random range element with start:", random_range_with_start)

# Generate a random element from the range 1 to 10 (inclusive) with step 2
random_range_with_step = random.randrange(1, 11, 2)
print("Random range element with step:", random_range_with_step)

Random range element: 8
Random range element with start: 1
Random range element with step: 9

In [31]:
import random
random.seed(10)
print(random.random())

0.5714025946899135

In [38]:
arr=list(range(1,20))
print(arr)
random.shuffle(arr)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[6, 15, 14, 1, 4, 13, 2, 7, 18, 17, 16, 3, 8, 12, 19, 11, 5, 9, 10]

### Loops

# Exercise
#### Simple Mathematical Operators