# Advanced programming and AI Frameworks

## copy — Shallow and deep copy operations

- #### A deep copy makes a new and separate copy of an entire object or list with its own unique memory address. What this means is that any changes you make in the new copy of the object/list won't reflect in the original one.

- #### A shallow copy also makes a separate new object object or list, but instead of copying the child elements to the new object, it simply copies the references to their memory addresses.

In [21]:
import copy

In [22]:
result_A = [[90, 85, 82],
            [72, 88, 90]] # Student A grades

result_B = copy.copy(result_A) # Student B grades (copied from A)

# Change first year and first subject's marks to 30
result_B[0][0] = 30

print("Original List: ")
print(result_A)
print("Shallow Copy:")
print(result_B)

Original List:
[[30, 85, 82], [72, 88, 90]]
Shallow Copy:
[[30, 85, 82], [72, 88, 90]]

In [23]:
import copy

result_A = [[90, 85, 82], [72, 88, 90]] # Student A grades
result_B = copy.deepcopy(result_A) # Student B grades (copied from A)

# Change first year and first subject's marks to 30
result_B[0][0] = 30

print("Original List: ")
print(result_A)
print("Deep Copy:")
print(result_B)

Original List:
[[90, 85, 82], [72, 88, 90]]
Deep Copy:
[[30, 85, 82], [72, 88, 90]]

## pickle

- #### Python Pickle is used to serialize and deserialize a python object structure. Any object on python can be pickled so that it can be saved on disk.

In [24]:
import pickle

In [25]:
L=[1,2,3,4]
file = open('aaa.txt', 'wb')
pickle.dump(L, file)
file.close()

In [26]:
fo = open('aaa.txt', 'rb')
d = pickle.load(fo)
fo.close()
print(d)

[1, 2, 3, 4]

In [27]:
def read_from_file(fileName):
    fo = open(fileName, 'rb')
    d = pickle.load(fo)
    fo.close()
    return d

print(read_from_file('aaa.txt'))

[1, 2, 3, 4]

In [28]:
def write_to_file(data,f_name):
    # open a file, where you ant to store the data
    file = open(f_name, 'wb')
    # dump information to that file
    pickle.dump(data, file)

# close the file
    file.close()

In [29]:
aa=[2,3,True,'AAAA']
write_to_file(aa,'bbbb')

In [30]:
aa1=read_from_file('bbbb')

In [40]:
aa1

[2, 3, True, 'AAAA']

## Read file line by line

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
ls

aaa.txt  bbbb  drive/  sample_data/

In [46]:
def read_line_by_line_from_file(fname):
    f = open(fname, 'rt')
    for line in f:
            print(line,end=" ")
    f.close()
read_line_by_line_from_file('file.txt')
# Using for loop

hello ahmed yousry
 ahmed
 ali
 60 70
 dggkkgkfhg
 ibrahiem
 ali
 sflslfldf;fddgfgfg

In [52]:
f = open('file.txt', 'r')
for line in f:
    for word in line.split():
        print(word)
f.close()

hello
ahmed
yousry
ahmed
ali
60
70
dggkkgkfhg
ibrahiem
ali
sflslfldf;fddgfgfg

In [54]:
def add(a,b):

    return a+b

## Lambda expression

- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

### Syntax:
<font color='blue'><h5>lambda arguments : expression

In [53]:
def add_5(x):
    return x + 5

print(add_5(100))

105

In [55]:
r=lambda x:x+5

res=r(100)
print(res)

105

## Convert function to lambda

In [ ]:
def multiply_a_and_b(a,b):
    return a*b

res=multiply_a_and_b(3,-10)
print(res)

-30

In [56]:
m=lambda a,b: a*b

In [58]:
print(m(30,100))

3000

In [ ]:
def a_exp_b(a,b):
    return a**b


print(a_exp_b(2,5))

32

In [59]:
e=lambda a,b:a**b
print(e(2,5))

32

In [ ]:
# example 1:

add= lambda a : a + 10
print(add(5))

# example 2:
x = lambda a, b : a * b
res=x(5, 6)
print(res)

15
30

### map() and lambda Function

- The map() function in Python takes in a function and a list.

- The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item

In [69]:
def list_square(lst):
    res=[]
    for l in lst:
        res.append(l**2)

    return res

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

print(list_square(my_list))

[1, 25, 16, 36, 64, 121, 9, 144]

In [70]:
fun= map(lambda a:a**2,my_list)
print(list(fun))

[1, 25, 16, 36, 64, 121, 9, 144]

In [71]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
max_value = max(map(lambda x:x, my_list))
print(max_value)  # Output: 12

12

In [73]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
max_value = max(my_list, key=lambda x: x)
print(max_value)  # Output: 12

12

In [72]:
list(map(lambda a:a**2,[3,4,5]))

[9, 16, 25]

### filter and lambda function
- In simple words, filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
<br>
<br>
- The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence “sequence”, for which the function returns True.

In [ ]:
my_list = [1,2,3,4,8,10,12,15 ]

# use anonymous function to filter and comparing

res1=list(filter(lambda x:x>10,my_list))


# printing the result
print(res1)

[12, 15]

### reduce
Python’s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value. Python’s reduce() is popular among developers with a functional programming background, but Python has more to offer.

In [ ]:
product = 1
list22 = [1, 2, 3, 4]
for num in list22:
    product = product * num

print(product)
# product = 24

24

In [ ]:
from functools import reduce
print(reduce(lambda a,b:a+b,list22))

0.041666666666666664

In [ ]:
from functools import reduce

def add(x, y):
    return x + y

list11 = [2, 4, 7, 3]
print(reduce(add, list11))

16

In [ ]:
from functools import reduce

list11 = [2, 4, 7, 3]

print(reduce(lambda x, y: x + y, list11))

print("With an initial value: " + str(reduce(lambda x, y: x + y, list11, 10)))

16
With an initial value: 26

In [ ]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

# Output: 24

In [ ]:
## Calculating the sum of the numbers from 1 to 100:
from functools import reduce
reduce(lambda x, y: x+y, range(1,101)) #  [1 ... 100]

5050

In [ ]:
from functools import reduce

r= lambda a,b: a if (a > b) else b

f = reduce( r, [47,11,42,102,13, 10])
print(f)

102

In [ ]:
f = lambda a: 'even' if (a %2==0) else 'odd'

res=list(map(f,[2,3,4,5,8]))

print(res)

['even', 'odd', 'even', 'odd', 'even']

## List comprehensions in Python

- List comprehensions provide you a way of writing for loops more concisely.
- They can be useful when you want to create new lists from existing lists or iterables.

In [ ]:
lst4=[4,3,5,3]
lst_res=[]
for ll in lst4:
    lst_res.append(ll*ll)
print(lst_res)

[16, 9, 25, 9]

### Syntax of List comprehensions

<font color= "red" size="3">Let's begin by writing a very basic for loop to list the first 15 multiples of 5. First, you need to create an empty list. Then, you have to iterate over a range of numbers and multiply them by 5. The new sequence of numbers that you get will consist of multiples of 5 </font>

In [ ]:
multiples = []

for n in range(1,16):
    multiples.append(n*5)

print(multiples)
# [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [ ]:
res=[n*5 for n in range(1,16)]
print(res)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [ ]:
print([1 for _ in range (20)])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
lst30=[3,4,5,8]
res6=[i**2 for i in lst30]
print(res6)

[9, 16, 25, 64]

### syntax of for

#### Write a program to print the even numbers between 1 and 20

In [ ]:
evens = []

for n in range(1,21):
    if n%2 == 0:
        evens.append(n)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
res8=[n for n in range(1,21) if n%2==0]
res8

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lst40=[100,2,3,4,5,6,7]
res9=[n for n in lst40 if n%2==0]
res9

[100, 2, 4, 6]

In [ ]:
res10=[n**2 if n%2==0 else n**3 for n in range(1,16)]
res10

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375]

In [ ]:
grades_list=[75,80,20,100,55]
## write list comprehision for printing if the student pass or fail
res=['Pass' if g>=70 else 'Fail' for g in grades_list]
print(res)

['Pass', 'Pass', 'Fail', 'Pass', 'Fail']

### Nested for

In [ ]:
# 2-D List
matrix = [[1, 2, 3],
          [4, 5],
          [6, 7, 8, 9]]

flatten_matrix = []

for row in matrix:
        ##print(row)
        for r in row:
            flatten_matrix.append(r)

print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]